/* Bootstrapping */
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark

Added reset by Christopher Bishop
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

/* Tell the browser to render HTML 5 elements as block */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help; }

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

ol, ul {
  list-style: none; }

a:focus {
  outline: none;
  /* Removes dotted outline caused by FireFox */ }

img {
  border: none;
  /* Removes purple border caused by FireFox */ }

/* Clear Div (not suggested) */
.clear {
  clear: both; }

/* Clear Fix */
.clear-fix {
  *zoom: 1; }
  .clear-fix:before, .clear-fix:after {
    display: table;
    content: ""; }
  .clear-fix:after {
    clear: both; }

/* Partials */
/*
-----------------------------------------
ANIMATION
-----------------------------------------
*/
/*
-----------------------------------------
Background Highlights
-----------------------------------------
*/
::-moz-selection {
  background: #406eac;
  color: #fff; }

::selection {
  background: #406eac;
  color: #fff; }

/*
-----------------------------------------
HEAD TAGS
-----------------------------------------
*/
* {
  box-sizing: border-box; }

html {
  /* Prevents webpage zooming for mobile devices change orientation */
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif; }

body {
  background: #406eac;
  background-image: linear-gradient(to bottom, transparent 0%, rgba(0, 0, 0, 0.2) 100%);
  height: 100vh; }

/*
-----------------------------------------
GENERICS
-----------------------------------------
*/
img {
  max-width: 100%; }

.relative {
  position: relative; }

.left {
  float: left; }

.right {
  float: right; }

.text-left {
  text-align: left; }

.text-center {
  text-align: center; }

.text-right {
  text-align: right; }

.italic {
  font-style: italic; }

.bold {
  font-weight: bold; }

/*
-----------------------------------------
MOBILE ADJUSTMENTS
-----------------------------------------
*/
a:link {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2); }

/*
-----------------------------------------
LAYOUT
-----------------------------------------
*/
.container {
  padding: 20px;
  height: 100%; }

.content {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  height: 100%; }

.block-content {
  margin-bottom: 20px; }

.app {
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0 auto;
  position: relative;
  padding: 30px;
  border-radius: 5px;
  width: 100%;
  max-width: 600px; }

/*
-----------------------------------------
Fonts
-----------------------------------------
*/
/*
-----------------------------------------
TYPOGRAPHY
-----------------------------------------
*/
/*  Basics */
a {
  color: #406eac;
  transition: all 0.2s linear;
  text-decoration: none; }
  a:hover {
    color: #5c88c3; }

p {
  font-size: 14px;
  font-size: 1rem;
  line-height: 1.4em;
  color: #333;
  margin-bottom: 1.2em; }

hr {
  margin: 30px 0;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.3); }

/* Headers */
h1, h2, h3, h4, h5, h6 {
  color: #333;
  line-height: 1.4em; }

h1 {
  font-size: 30px;
  font-size: 2.1428571429rem;
  text-align: center;
  color: #406eac;
  margin-bottom: 30px; }

/*
-----------------------------------------
BUTTONS
-----------------------------------------
*/
.button {
  cursor: pointer;
  display: inline-block;
  border: none;
  -webkit-appearance: none; }

/*
-----------------------------------------
TABLES
-----------------------------------------
*/
.cell5 {
  width: 5%; }

.cell10 {
  width: 10%; }

.cell15 {
  width: 15%; }

.cell20 {
  width: 20%; }

.cell25 {
  width: 25%; }

.cell30 {
  width: 30%; }

.cell35 {
  width: 35%; }

.cell40 {
  width: 40%; }

.cell45 {
  width: 45%; }

.cell50 {
  width: 50%; }

.cell55 {
  width: 55%; }

.cell60 {
  width: 60%; }

.cell65 {
  width: 65%; }

.cell70 {
  width: 70%; }

.cell75 {
  width: 75%; }

.cell80 {
  width: 80%; }

.cell85 {
  width: 85%; }

.cell90 {
  width: 90%; }

.cell95 {
  width: 95%; }

/*
-----------------------------------------
FORMS
-----------------------------------------
*/
form {
  margin: 10px 0; }

label {
  display: block;
  font-size: 15px;
  font-size: 1.0714285714rem;
  color: #333;
  margin-bottom: 10px;
  line-height: 1.4em; }

input, textarea {
  width: 100%;
  border: 1px solid #b7b7b7;
  padding: 10px;
  font-size: 16px;
  font-size: 1.1428571429rem;
  color: #333;
  border-radius: 5px; }
  input:disabled, textarea:disabled {
    color: #c4c4c4;
    background: #fff; }

textarea {
  min-height: 200px; }
  textarea.small {
    min-height: 150px; }
  textarea.large {
    min-height: 250px; }

select {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px; }

::-webkit-input-placeholder {
  color: #ddd; }

::-moz-placeholder {
  color: #ddd; }

:-ms-input-placeholder {
  color: #ddd; }

input:-moz-placeholder {
  color: #ddd; }

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="file"],
textarea {
  -webkit-appearance: none; }

input[type="search"] {
  -webkit-appearance: none; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

/* Form Styles */
.field-group {
  *zoom: 1; }
  .field-group:before, .field-group:after {
    display: table;
    content: ""; }
  .field-group:after {
    clear: both; }

.field {
  margin-bottom: 20px; }

.time-input {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .time-input .time-seperator {
    text-align: center;
    width: 30px; }

/* Modules */
/*
-----------------------------------------
MASTHEAD
-----------------------------------------
*/
.result {
  text-align: center; }
  .result time {
    display: block;
    margin-top: 20px;
    color: #406eac;
    font-size: 60px;
    font-size: 4.2857142857rem; }

/* Vendors */
/* General settings */
div.selector,
div.selector span,
div.checker span,
div.radio span, div.uploader,
div.uploader span.action, div.button,
div.button span {
  background: url("../images/default/sprite.png") no-repeat;
  -webkit-font-smoothing: antialiased; }

div.selector, div.checker, div.button, div.radio, div.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */ }
  div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {
    outline: 0; }

div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
  margin: 0;
  padding: 0; }

.highContrastDetect {
  background: url("../images/default/bg-input.png") repeat-x 0 0;
  width: 0;
  height: 0; }

/* Input & Textarea */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  padding: 3px;
  background: url("../images/default/bg-input.png") repeat-x 0 0;
  outline: 0; }
  input.uniform-input.active,
  select.uniform-multiselect.active,
  textarea.uniform.active {
    background: url("../images/default/bg-input-focus.png") repeat-x 0 0; }

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

/* Select */
div.selector {
  background-position: 0 -130px;
  line-height: 26px;
  height: 26px;
  padding: 0 0 0 10px;
  position: relative;
  overflow: hidden; }
  div.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    height: 26px;
    line-height: 26px;
    padding-right: 25px;
    cursor: pointer;
    width: 100%; }
  div.selector.fixedWidth {
    width: 190px; }
    div.selector.fixedWidth span {
      width: 155px; }
  div.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    border: none;
    background: none;
    position: absolute;
    height: 22px;
    top: 2px;
    left: 0;
    width: 100%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  div.selector.active {
    background-position: 0 -156px; }
    div.selector.active span {
      background-position: right -26px; }
  div.selector.hover, div.selector.focus {
    background-position: 0 -182px; }
    div.selector.hover span, div.selector.focus span {
      background-position: right -52px; }
    div.selector.hover.active, div.selector.focus.active {
      background-position: 0 -208px; }
      div.selector.hover.active span, div.selector.focus.active span {
        background-position: right -78px; }
  div.selector.disabled, div.selector.disabled.active {
    background-position: 0 -234px; }
    div.selector.disabled span, div.selector.disabled.active span {
      background-position: right -104px; }

/* Checkbox */
div.checker {
  position: relative; }
  div.checker, div.checker span, div.checker input {
    width: 19px;
    height: 19px; }
  div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -260px; }
    div.checker span.checked {
      background-position: -76px -260px; }
  div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1; }
  div.checker.active span {
    background-position: -19px -260px; }
    div.checker.active span.checked {
      background-position: -95px -260px; }
  div.checker.hover span, div.checker.focus span {
    background-position: -38px -260px; }
    div.checker.hover span.checked, div.checker.focus span.checked {
      background-position: -114px -260px; }
  div.checker.hover.active span, div.checker.focus.active span {
    background-position: -57px -260px; }
    div.checker.hover.active span.checked, div.checker.focus.active span.checked {
      background-position: -133px -260px; }
  div.checker.disabled span, div.checker.disabled.active span {
    background-position: -152px -260px; }
    div.checker.disabled span.checked, div.checker.disabled.active span.checked {
      background-position: -171px -260px; }

/* Radio */
div.radio {
  position: relative; }
  div.radio, div.radio span, div.radio input {
    width: 18px;
    height: 18px; }
  div.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -279px; }
    div.radio span.checked {
      background-position: -72px -279px; }
  div.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center; }
  div.radio.active span {
    background-position: -18px -279px; }
    div.radio.active span.checked {
      background-position: -90px -279px; }
  div.radio.hover span, div.radio.focus span {
    background-position: -36px -279px; }
    div.radio.hover span.checked, div.radio.focus span.checked {
      background-position: -108px -279px; }
  div.radio.hover.active span, div.radio.focus.active span {
    background-position: -54px -279px; }
    div.radio.hover.active span.checked, div.radio.focus.active span.checked {
      background-position: -126px -279px; }
  div.radio.disabled span, div.radio.disabled.active span {
    background-position: -144px -279px; }
    div.radio.disabled span.checked, div.radio.disabled.active span.checked {
      background-position: -162px -279px; }

/* Uploader */
div.uploader {
  background-position: 0 -297px;
  height: 28px;
  width: 190px;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  div.uploader span.action {
    background-position: right -409px;
    height: 28px;
    line-height: 28px;
    width: 85px;
    text-align: center;
    float: left;
    display: inline;
    overflow: hidden;
    cursor: pointer; }
  div.uploader span.filename {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    cursor: default;
    height: 24px;
    margin: 2px 0 2px 2px;
    line-height: 24px;
    width: 82px;
    padding: 0 10px; }
  div.uploader input {
    opacity: 0;
    filter: alpha(opacity=0);
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: default;
    width: 100%;
    height: 100%; }
  div.uploader.active span.action {
    background-position: right -465px; }
  div.uploader.hover, div.uploader.focus {
    background-position: 0 -353px; }
    div.uploader.hover span.action, div.uploader.focus span.action {
      background-position: right -437px; }
    div.uploader.hover.active span.action, div.uploader.focus.active span.action {
      background-position: right -493px; }
  div.uploader.disabled, div.uploader.disabled.active {
    background-position: 0 -325px; }
    div.uploader.disabled span.action, div.uploader.disabled.active span.action {
      background-position: right -381px; }

/* Buttons */
div.button {
  background-position: 0 -641px;
  height: 30px;
  cursor: pointer;
  position: relative;
  /* Keep buttons barely visible so they can get focus */ }
  div.button a, div.button button, div.button input {
    opacity: 0.01;
    filter: alpha(opacity=1);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; }
  div.button span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 30px;
    text-align: center;
    background-position: right -521px;
    height: 30px;
    margin-left: 13px;
    padding: 0; }
  div.button.active {
    background-position: 0 -671px; }
    div.button.active span {
      background-position: 100% -551px;
      cursor: default; }
  div.button.hover, div.button.focus {
    background-position: 0 -701px; }
    div.button.hover span, div.button.focus span {
      background-position: right -581px; }
  div.button.disabled, div.button.disabled.active {
    background-position: 0 -731px; }
    div.button.disabled span, div.button.disabled.active span {
      background-position: right -611px;
      cursor: default; }

/**
 * Uniform Theme: Uniform Default
 *
 * @author Josh Pyles
 */
/* General settings */
div.selector,
div.selector span,
div.checker span,
div.radio span, div.uploader,
div.uploader span.action, div.button,
div.button span {
  background: url("../images/default/sprite.png") no-repeat;
  -webkit-font-smoothing: antialiased; }

div.selector, div.checker, div.button, div.radio, div.uploader {
  display: -moz-inline-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: middle;
  /* Keeping this as :focus to remove browser styles */ }
  div.selector:focus, div.checker:focus, div.button:focus, div.radio:focus, div.uploader:focus {
    outline: 0; }

div.selector, div.selector *, div.radio, div.radio *, div.checker, div.checker *, div.uploader, div.uploader *, div.button, div.button * {
  margin: 0;
  padding: 0; }

.highContrastDetect {
  background: url("../images/default/bg-input.png") repeat-x 0 0;
  width: 0;
  height: 0; }

/* Input & Textarea */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  padding: 3px;
  background: url("../images/default/bg-input.png") repeat-x 0 0;
  outline: 0; }
  input.uniform-input.active,
  select.uniform-multiselect.active,
  textarea.uniform.active {
    background: url("../images/default/bg-input-focus.png") repeat-x 0 0; }

/* Remove default webkit and possible mozilla .search styles.
 * Keeping this as :active to remove browser styles */
div.checker input,
input[type="search"],
input[type="search"]:active {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none; }

/* Select */
div.selector {
  background-position: 0 -130px;
  line-height: 26px;
  height: 26px;
  padding: 0 0 0 10px;
  position: relative;
  overflow: hidden; }
  div.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    background-position: right 0;
    height: 26px;
    line-height: 26px;
    padding-right: 25px;
    cursor: pointer;
    width: 100%; }
  div.selector.fixedWidth {
    width: 190px; }
    div.selector.fixedWidth span {
      width: 155px; }
  div.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    border: none;
    background: none;
    position: absolute;
    height: 22px;
    top: 2px;
    left: 0;
    width: 100%;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none; }
  div.selector.active {
    background-position: 0 -156px; }
    div.selector.active span {
      background-position: right -26px; }
  div.selector.hover, div.selector.focus {
    background-position: 0 -182px; }
    div.selector.hover span, div.selector.focus span {
      background-position: right -52px; }
    div.selector.hover.active, div.selector.focus.active {
      background-position: 0 -208px; }
      div.selector.hover.active span, div.selector.focus.active span {
        background-position: right -78px; }
  div.selector.disabled, div.selector.disabled.active {
    background-position: 0 -234px; }
    div.selector.disabled span, div.selector.disabled.active span {
      background-position: right -104px; }

/* Checkbox */
div.checker {
  position: relative; }
  div.checker, div.checker span, div.checker input {
    width: 19px;
    height: 19px; }
  div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -260px; }
    div.checker span.checked {
      background-position: -76px -260px; }
  div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1; }
  div.checker.active span {
    background-position: -19px -260px; }
    div.checker.active span.checked {
      background-position: -95px -260px; }
  div.checker.hover span, div.checker.focus span {
    background-position: -38px -260px; }
    div.checker.hover span.checked, div.checker.focus span.checked {
      background-position: -114px -260px; }
  div.checker.hover.active span, div.checker.focus.active span {
    background-position: -57px -260px; }
    div.checker.hover.active span.checked, div.checker.focus.active span.checked {
      background-position: -133px -260px; }
  div.checker.disabled span, div.checker.disabled.active span {
    background-position: -152px -260px; }
    div.checker.disabled span.checked, div.checker.disabled.active span.checked {
      background-position: -171px -260px; }

/* Radio */
div.radio {
  position: relative; }
  div.radio, div.radio span, div.radio input {
    width: 18px;
    height: 18px; }
  div.radio span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position: 0 -279px; }
    div.radio span.checked {
      background-position: -72px -279px; }
  div.radio input {
    opacity: 0;
    filter: alpha(opacity=0);
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center; }
  div.radio.active span {
    background-position: -18px -279px; }
    div.radio.active span.checked {
      background-position: -90px -279px; }
  div.radio.hover span, div.radio.focus span {
    background-position: -36px -279px; }
    div.radio.hover span.checked, div.radio.focus span.checked {
      background-position: -108px -279px; }
  div.radio.hover.active span, div.radio.focus.active span {
    background-position: -54px -279px; }
    div.radio.hover.active span.checked, div.radio.focus.active span.checked {
      background-position: -126px -279px; }
  div.radio.disabled span, div.radio.disabled.active span {
    background-position: -144px -279px; }
    div.radio.disabled span.checked, div.radio.disabled.active span.checked {
      background-position: -162px -279px; }

/* Uploader */
div.uploader {
  background-position: 0 -297px;
  height: 28px;
  width: 190px;
  cursor: pointer;
  position: relative;
  overflow: hidden; }
  div.uploader span.action {
    background-position: right -409px;
    height: 28px;
    line-height: 28px;
    width: 82px;
    text-align: center;
    float: left;
    display: inline;
    overflow: hidden;
    cursor: pointer; }
  div.uploader span.filename {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    float: left;
    cursor: default;
    height: 24px;
    margin: 2px 0 2px 2px;
    line-height: 24px;
    width: 85px;
    padding: 0 10px; }
  div.uploader input {
    opacity: 0;
    filter: alpha(opacity=0);
    border: none;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    cursor: default;
    width: 100%;
    height: 100%; }
  div.uploader.active span.action {
    background-position: right -465px; }
  div.uploader.hover, div.uploader.focus {
    background-position: 0 -353px; }
    div.uploader.hover span.action, div.uploader.focus span.action {
      background-position: right -437px; }
    div.uploader.hover.active span.action, div.uploader.focus.active span.action {
      background-position: right -493px; }
  div.uploader.disabled, div.uploader.disabled.active {
    background-position: 0 -325px; }
    div.uploader.disabled span.action, div.uploader.disabled.active span.action {
      background-position: right -381px; }

/* Buttons */
div.button {
  background-position: 0 -641px;
  height: 30px;
  cursor: pointer;
  position: relative;
  /* Keep buttons barely visible so they can get focus */ }
  div.button a, div.button button, div.button input {
    opacity: 0.01;
    filter: alpha(opacity=1);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%; }
  div.button span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    line-height: 30px;
    text-align: center;
    background-position: right -521px;
    height: 30px;
    margin-left: 13px;
    padding: 0 15px 0 2px; }
  div.button.active {
    background-position: 0 -671px; }
    div.button.active span {
      background-position: 100% -551px;
      cursor: default; }
  div.button.hover, div.button.focus {
    background-position: 0 -701px; }
    div.button.hover span, div.button.focus span {
      background-position: right -581px; }
  div.button.disabled, div.button.disabled.active {
    background-position: 0 -731px; }
    div.button.disabled span, div.button.disabled.active span {
      background-position: right -611px;
      cursor: default; }

/* INPUT & TEXTAREA */
input.uniform-input,
select.uniform-multiselect,
textarea.uniform {
  font-size: 12px;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: normal;
  color: #777777;
  border: 1px solid #aaaaaa;
  border-right-color: #cccccc;
  border-bottom-color: #cccccc;
  border-radius: 3px;
  background-color: white; }
  input.uniform-input.hover, input.uniform-input.focus,
  select.uniform-multiselect.hover,
  select.uniform-multiselect.focus,
  textarea.uniform.hover,
  textarea.uniform.focus {
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    border-color: #999999; }
  input.uniform-input.active,
  select.uniform-multiselect.active,
  textarea.uniform.active {
    background-color: white; }

/* PRESENTATION */
/* Buttons */
div.button span {
  font-weight: bold;
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase; }

div.button.hover span, div.button.focus span {
  color: #555555; }

div.button.disabled span, div.button.disabled.active span {
  color: #bbbbbb; }

/* Select */
div.selector {
  font-size: 12px; }
  div.selector span {
    color: #666666;
    text-shadow: 0 1px 0 #ffffff; }
  div.selector select {
    font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 12px; }
  div.selector.disabled span, div.selector.disabled.active span {
    color: #bbbbbb; }

/* Checker */
div.checker {
  margin-right: 5px; }

/* Radio */
div.radio {
  margin-right: 3px; }

/* Uploader */
div.uploader span.action {
  text-shadow: #ffffff 0 1px 0;
  background-color: #ffffff;
  font-size: 11px;
  font-weight: bold; }

div.uploader span.filename {
  color: #777777;
  border-right: solid 1px #bbbbbb;
  font-size: 11px; }

div.uploader.disabled span.action, div.uploader.disabled.active span.action {
  color: #aaaaaa; }

div.uploader.disabled span.filename, div.uploader.disabled.active span.filename {
  border-color: #dddddd;
  color: #aaaaaa; }

input.uniform-input, input.uniform-input:focus {
  background-color: #ffffff; }

/*
-----------------------------------------
VENDOR OVERRIDES
-----------------------------------------
*/
div.selector, div.selector span {
  width: 100% !important;
  background: none;
  background-color: #fff; }
  .inline-input div.selector, .inline-input div.selector span {
    width: auto !important; }

div.selector {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  height: 35px; }
  div.selector span {
    font-size: 16px;
    color: #333;
    height: 35px;
    line-height: 35px;
    position: relative; }
    div.selector span:after {
      position: absolute;
      top: 50%;
      right: 7px;
      content: '';
      height: 0;
      width: 0;
      border-top: 8px solid #333;
      border-right: 8px solid transparent;
      border-left: 8px solid transparent;
      margin-top: -4px; }
  div.selector select {
    height: 35px; }
  div.selector.hover span:after, div.selector.focus span:after, div.selector.active span:after, div.selector.active.focus span:after {
    position: absolute;
    top: 50%;
    right: 7px;
    content: '';
    height: 0;
    width: 0;
    border-top: 8px solid #333;
    border-right: 8px solid transparent;
    border-left: 8px solid transparent;
    margin-top: -4px; }

/* Media Queries */
@media only screen and (max-width: 768px) {
  .layout-stack-tablet {
    float: none !important;
    width: auto !important; } }

@media only screen and (max-width: 480px) {
  .layout-stack-mobile {
    float: none !important;
    width: auto !important; } }
